@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #020204;
    color: #ffffff;
}

hr {
    height: 1px;
    border: none;
    background-color: #32323D;
}

ul {
    text-decoration: none;
    list-style: none;
}

a {
    text-decoration: none;
}

.pre-header {
    padding: 10px 0px;
}

.container {
    max-width: 1197px;
    margin: 0px auto;
}

.pre-header__data {
    display: flex;
    justify-content: space-between;
}

.pre-header__languages {
    display: flex;
}

.language {
    cursor: pointer;
    font-size: 14px;
    font-family: 'Jost', sans-serif;
    color: #FFFFFF;
    font-weight: 600;
    transition: 1s all;
}

.language:hover {
    color: #C7A17A;
}

.list {
    display: none;
}

.active {
    color: #C7A17A;
    margin-left: 10px;
}

.pre-header__telefon {
    font-size: 14px;
    font-family: 'Jost', sans-serif;
    font-weight: 600;
}

.header-holder {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-holder__navbar ul{
    display: flex;
}

.link {
    font-family: 'Jost', sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    color: #ffffff;
    transition: 0.5s all;
    margin-right: 35px;
}

.link:hover {
    color: #C7A17A;
}

.header-holder__actions {
    display: flex;
}

.action_icon {
    margin-left: 25px;
}

.header-holder__burger {
    display: none;
}

.home {
    background-image: url(images/home/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    width: 100%;
    height: 80vh;
}

.home__content {
    margin: 200px 0px;
}

.home__title {
    font-family: 'Jost', sans-serif;
    font-size: 60px;
    font-weight: 900;
    line-height: 68px;
}

.home__text {
    margin: 25px 0px;
    font-family: 'Jost', sans-serif;
    font-size: 18px;
    color: #DFDFDF;
}

.home__buttons {
    display: flex;
    justify-content: flex-start;
    margin-top: 40px;
}

.first_button {
    margin-right: 10px;
    padding: 17px 60px;
    border-radius: 10px;
    text-transform: uppercase;
    font-family: 'Jost', sans-serif;
    font-size: 15px;
    background-color: #C7A17A;
    color: #ffffff;
    transition: 0.5s all;
}

.first_button:hover {
    border: 1px solid #666681;
    background-color: transparent;
}

.second_button {
    border: 1px solid #666681;
    padding: 17px 60px;
    border-radius: 10px;
    text-transform: uppercase;
    font-family: 'Jost', sans-serif;
    font-size: 15px;
    background-color: transparent;
    color: #ffffff;
    transition: 0.5s all;
}

.second_button:hover {
    background-color: #C7A17A;
    border: 0px solid none;
}

.card-item {
    background-color: hsl(240, 18%, 10%);
    border-radius: 10px;
    margin: 90px 0px;
}

.card-item__data {
    display: flex;
    align-items: center;
}

.card-item__content {
    padding: 25px 30px;
}

.card-item__title {
    font-family: 'Jost', sans-serif;
    font-size: 24px;
    font-weight: 900;
}

.card-item__text {
    font-family: 'Jost', sans-serif;
    font-size: 18px;
    color: #DFDFDF;
}

.catalog__title {
    margin-bottom: 40px;
    font-size: 40px;
    font-family: 'Jost', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
}

.catalog-cards__firstblock {
    display: flex;
    justify-content: space-between;
}

.catalog-cards__secondblock {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.catalog-cards__card {
    border-radius: 10px;
    margin: 15px;
    padding: 15px;
    width: 33%;
    cursor: pointer;
    background-color: #14141D;
    transition: 0.5s all;
}

.catalog-cards__card:hover {
    background-color: #22222F;
}

.card-content {
    display: flex;
    justify-content: space-between;
}

.catalog-cards__image {
    text-align: center;
}

.card-content__prices {
    display: flex;
}

.card-content__title {
    font-family: 'Jost', sans-serif;
    font-size: 24px;
    font-weight: 900;
}

.price {
    font-family: 'Jost';
    font-size: 18px;

}

.future_price {
    font-family: 'Jost';
    font-size: 18px;
    color: #818181;
    text-decoration: line-through;
    margin-left: 25px;
}

.news {
    margin: 85px 0px;
}

.news__title {
    font-family: 'Jost', sans-serif;
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.news-cards {
    display: flex;
    justify-content: space-between;
}

.news-cards__card {
    border-radius: 10px;
    background-color: #14141D;
    margin-right: 15px;
}

.news-cards__title {
    padding-bottom: 10px;
    font-family: 'Jost', sans-serif;
    font-size: 24px;
    font-weight: 900;
}

.news-cards__text {
    font-family: 'Jost', sans-serif;
    font-size: 18px;
    color: #DFDFDF;
}

.news-cards__content {
    padding: 20px 20px;
}

.footer-holder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 0px;
}

.footer-holder__logo {
    display: flex;
    align-items: center;
}

.logo__title {
    font-family: 'Jost', sans-serif;
    font-size: 20px;
    font-weight: 900;
    color: #F8DABF;
}

@media (max-width: 1211px) {
    .container {
        max-width: 997px;
        margin: 0px auto;
    }

    .home__content {
        margin: 150px 0px;
    }

    .home__title {
        font-size: 55px;
        line-height: 65px;
    }

    .home__text {
        font-size: 16px;
        margin: 20px 0px;
    }

    .first_button {
        padding: 15px 55px;
    }

    .second_button {
        padding: 15px 55px;
    }

    .card-item__data img {
        width: 50%;
    }

    .card-item__content {
        padding: 20px 25px;
    }
    
    .card-item__title {
        font-family: 'Jost', sans-serif;
        font-size: 22px;
        font-weight: 900;
    }
    
    .card-item__text {
        font-family: 'Jost', sans-serif;
        font-size: 16px;
        color: #DFDFDF;
    }

    .news__title {
        font-family: 'Jost', sans-serif;
        font-size: 40px;
        font-weight: 900;
        text-transform: uppercase;
        margin-bottom: 40px;
    }
    
    .news-cards {
        display: block;
    }
    
    .news-cards__card {
        width: 55%;
        margin: 0px auto;
        border-radius: 10px;
        background-color: #14141D;
        margin-bottom: 20px;
    }

    .news-cards__image img {
        width: 100%;
    }
    
    .news-cards__title {
        padding-bottom: 10px;
        font-family: 'Jost', sans-serif;
        font-size: 24px;
        font-weight: 900;
    }
    
    .news-cards__text {
        font-family: 'Jost', sans-serif;
        font-size: 18px;
        color: #DFDFDF;
    }
    
    .news-cards__content {
        padding: 20px 20px;
    }
}

@media(max-width: 1025px) {
    .container {
        max-width: 797px;
        margin: 0px auto;
    }

    .home__content {
        margin: 125px 0px;
    }

    .home__title {
        font-size: 50px;
        line-height: 60px;
    }

    .home__text {
        font-size: 14px;
        margin: 15px 0px;
    }

    .first_button {
        padding: 15px 50px;
    }

    .second_button {
        padding: 15px 50px;
    }

    .card-item__content {
        padding: 5px 10px;
    }
    
    .card-item__title {
        font-family: 'Jost', sans-serif;
        font-size: 20px;
        font-weight: 900;
    }
    
    .card-item__text {
        font-size: 14px;
    }

    .catalog__title {
        font-size: 35px;
    }
    
    .catalog-cards__secondblock {
        margin-top: 10px;
    }
    
    .card-content__title {
        font-size: 22px;
    }
    
    .future_price {
        font-family: 'Jost';
        font-size: 16px;
        color: #818181;
        text-decoration: line-through;
        margin-left: 25px;
    }

    .card-content img {
        width: 18px;
        height: 18px;
    }

    .news__title {
        font-family: 'Jost', sans-serif;
        font-size: 40px;
        font-weight: 900;
        text-transform: uppercase;
        margin-bottom: 40px;
    }
    
    .news-cards__card {
        width: 55%;
        margin: 0px auto;
        border-radius: 10px;
        background-color: #14141D;
        margin-bottom: 20px;
    }

    .news-cards__image img {
        width: 100%;
    }
    
    .news-cards__title {
        padding-bottom: 10px;
        font-family: 'Jost', sans-serif;
        font-size: 22px;
        font-weight: 900;
    }
    
    .news-cards__text {
        font-family: 'Jost', sans-serif;
        font-size: 16px;
        color: #DFDFDF;
    }
    
    .news-cards__content {
        padding: 20px 20px;
    }
}

@media(max-width: 838px) {
    .container {
        max-width: 597px;
        margin: 0px auto;
    }

    .header-holder__navbar {
        display: none;
    }

    .header-holder__actions {
        display: none;
    }

    .header-holder__burger {
        display: block;
        position: relative;
        bottom: 1px;
        right: 1px;
    }

    .list {
        display: block;
        position: absolute;
        text-align: center;
        top: 321px;
        right: 111px;
    }
    
    .list li {
        margin-bottom: 15px;
    }

    .hide {
        display: none;
    }

    .home__content {
        text-align: center;
        margin: 100px 0px;
    }

    .home__buttons {
        justify-content: center;
    }

    .home__title {
        font-size: 40px;
        line-height: 50px;
    }

    .home__text {
        font-size: 12px;
        margin: 10px 0px;
    }

    .first_button {
        padding: 10px 40px;
    }

    .second_button {
        padding: 10px 40px;
    }

    .card-item__data {
        display: block;
    }

    .card-item__data img {
        width: 100%;
    }

    .card-item__content {
        padding: 10px 15px;
    }
    
    .card-item__title {
        font-family: 'Jost', sans-serif;
        font-size: 22px;
        font-weight: 900;
    }
    
    .card-item__text {
        font-family: 'Jost', sans-serif;
        font-size: 16px;
        color: #DFDFDF;
    }

    .catalog__title {
        margin-bottom: 20px;
        font-size: 30px;
        font-family: 'Jost', sans-serif;
        font-weight: 900;
        text-transform: uppercase;
    }
    
    .catalog-cards__secondblock {
        margin-top: 5px;
    }
    
    .catalog-cards__card {
        border-radius: 10px;
        margin: 5px;
        padding: 5px;
        width: 33%;
        cursor: pointer;
        background-color: #14141D;
        transition: 0.5s all;
    }
    
    .catalog-cards__card:hover {
        background-color: #22222F;
    }
    
    .card-content__title {
        font-family: 'Jost', sans-serif;
        font-size: 20px;
        font-weight: 900;
    }
    
    .price {
        font-family: 'Jost';
        font-size: 16px;
    
    }
    
    .future_price {
        font-family: 'Jost';
        font-size: 16px;
        color: #818181;
        text-decoration: line-through;
        margin-left: 20px;
    }

    .news__title {
        font-size: 30px;
    }

    .news-cards__title {
        padding-bottom: 10px;
        font-size: 20px;
    }
    
    .news-cards__text {
        font-size: 14px;
    }
}

@media(max-width: 618px) {
    .container {
        max-width: 320px;
        margin: 0px auto;
    }

    .catalog-cards__card {
        margin-bottom: 20px;
    }

    .home__title {
        font-size: 30px;
    }

    .card-item__text {
        font-size: 14px;
    }

    .catalog__title {
        font-size: 30px;
    }

    .catalog-cards__card {
        width: 100%;
    }

    .catalog-cards__firstblock {
        display: block;
    }

    .catalog-cards__secondblock {
        display: block;
    }

    .news-cards__card  {
        width: 100%;
    }

    .news-cards__title {
        padding-bottom: 10px;
        font-family: 'Jost', sans-serif;
        font-size: 20px;
        font-weight: 900;
    }
    
    .news-cards__text {
        font-family: 'Jost', sans-serif;
        font-size: 14px;
        color: #DFDFDF;
    }
    
    .news-cards__content {
        padding: 10px 10px;
    }

    .footer-holder {
        display: block;
        text-align: center;
    }

    .footer-holder__navigation {
        margin: 15px 0px;
        line-height: 32px;
    }

    .footer-holder__contactnavigation {
        line-height: 32px;
    }

    .news-cards__content {
        padding: 10px 10px;
    }
}